<launch>
	<include file="$(find chatterbox)/launch/base_local.launch">
    	<!-- <arg name="message_display" value="log"/> -->
    	<arg name="message_display" value="screen"/>
	</include>

	<include file="$(find chatterbox)/launch/client_local.launch">
    	<arg name="user_name" value="$(env USER)"/>
	</include>
</launch>
