<launch>
    <arg name="message_display" default="screen" doc="output type"/>
    <arg name="en_lidar_check" default="0" doc="en_lidar_check"/>
    <arg name="en_virtual_wall" default="0" doc="en_virtual_wall"/>
    <arg name="en_gazebo" default="0" doc="en_gazebo"/>
    <arg name="remap_cmd_vel" default="/mecanum/md_vel_topic" doc="remap_cmd_vel"/>

    <include file="$(find recipelab)/launch/base.launch">
        <arg name="AGV_MODEL" value="2"/>
        <arg name="message_display" value="$(arg message_display)"/>
        <arg name="en_lidar_check" value="$(arg en_lidar_check)"/>
        <arg name="en_virtual_wall" value="$(arg en_virtual_wall)"/>
        <arg name="en_gazebo" value="$(arg en_gazebo)"/>
        <arg name="remap_cmd_vel" value="$(arg remap_cmd_vel)"/>
    </include>
</launch>
