<launch>
  <arg name="message_display" default="screen" doc="output type"/>
  <arg name="serial_port" default="/dev/recipe.driver.battery"  doc="serial_port"/>
  <arg name="baud_rate" default="19200"  doc="baud_rate"/>
  <arg name="slave_num" default="10"  doc="slave_num"/>
  <arg name="node_name" default="battery"  doc="node_name"/>
  <arg name="bms_model" default="unknown"  doc="bms_model"/>
  
  <node pkg="battery" type="battery" name="battery" output="$(arg message_display)">
    <param name="serial_port" value="$(arg serial_port)"/>
    <param name="baud_rate" value="$(arg baud_rate)"/>
    <param name="slave_num" value="$(arg slave_num)"/>
    <param name="node_name" value="$(arg node_name)"/>
    <param name="bms_model" value="$(arg bms_model)"/>
  </node>
</launch>